.languages {
    position: absolute;
    top: 15%;
    left: 5%;
}

.frameworks {
    position: absolute;
    top: 70%;
    right: 5%;
}

.testingdeployment {
    position: absolute;
    top: 125%;
    left: 5%;
}

.text-zone-1 {
    position: absolute;
    top: 15%;
    right: 5%;
}

.text-zone-2 {
    position: absolute;
    top: 70%;
    left: 5%;
}

.text-zone-3 {
    position: absolute;
    top: 125%;
    right: 5%;
}