.about {
    margin-bottom: 80%;

    .languages {
        position: absolute;
        top: 15%;
        left: 15%;
    }
    
    .frameworks {
        position: absolute;
        top: 70%;
        right: 15%;
    }
    
    .testingdeployment {
        position: absolute;
        top: 125%;
        left: 15%;
    }
    
    .text-zone-1 {
        position: absolute;
        top: 22%;
        right: 10%;
        width: 40%;
    }
    
    .text-zone-1 ul {
        line-height: 2; /* Adjust the value as needed */
    }
    
    .text-zone-2 {
        position: absolute;
        top: 73%;
        left: 10%;
        width: 40%;
    }
    
    .text-zone-2 ul {
        line-height: 2; /* Adjust the value as needed */
    }
    
    .text-zone-3 {
        position: absolute;
        top: 130%;
        right: 10%;
        width: 40%;
    }
    
    .text-zone-3 ul {
        line-height: 2; /* Adjust the value as needed */
    }
}