.home-page {
    .text-zone {
        position: absolute;
        left: 10%;
        top: 40%;
        transform: translateY(-50%);
        width: 40%;
        max-height: 100%;
    }

    /* MAKE SURE TO USE REM NOT PX OR % IN YOUR FONT SIZE */
    h1 {
        color: #000000;
        font-size: 56px;
        line-height: 53px;
    }

    h2 {
        color: #000000;
        margin-top: 20px;
        letter-spacing: 3px;
    }

    .gap {
        margin: 10rem;
    }
}