.contact {
  margin-top: 10%;

  h1 {
    text-align: left;
    font-weight: 600; /* Adjust the font weight as needed, e.g., 400 for normal, 700 for bold */
    font-size: 75px;
  }

  h2 {
    max-width: 300px; /* Adjust the maximum width as needed */
    /* You can also add other styles as needed */
  }
}