.contact {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;

  .text-zone {
    text-align: left;
    padding: 5rem;

    h1 {
      font-weight: 600;
      font-size: 75px;
      max-width: 60%;
    }

    h2 {
      max-width: 70%;
    }
  }

  .input {
    width: 40%;
    margin-top: 4%;
    padding: 8rem;
    margin-right: 10rem;
  }
}
