.hobbies {
    margin-bottom: 20%;

    p {
        margin-top: 20%;
        text-align: center;
    }

    @media only screen and (max-width: 450px) {
        margin-top: 30%;
        margin-bottom: 150%;

        p {
            margin-top: 60%;
        }
    }
}