.nav {
    .navbar {
        position: fixed;
        top: -200px; /* Initial position off-screen */
        width: 100%;
        background: transparent;
        z-index: 100;
        transition: top 0.5s ease, transform 0.3s, opacity 0.3s;

        &.hidden {
            transform: translateY(-100%);
            opacity: 0;
        }

        &.loaded {
            top: 0; /* Move into regular position when loaded */
        }

        .logo-container {
            display: flex;
            align-items: center;

            .logo {
                width: 8vw; /* Use vw for responsive width */
                height: auto;
                margin-left: 0.5vw; /* Use vw for responsive margin */
                margin-top: 0.5vw;
            }
        }

        ul {
            display: flex;
            float: right;
            list-style-type: none;
            margin-top: 1vw; /* Use vw for responsive margin */
            margin-right: 2vw; /* Use vw for responsive margin */
        }

        ul li {
            padding-left: 1vw; /* Use vw for responsive padding */
            font-weight: 550;
        }

        ul li a {
            display: block;
            text-decoration: none;
            color: black;
            font-size: 1.8vw; /* Use vw for font sizes */
            padding: 0.5vw; /* Use vw for responsive padding */
            text-transform: uppercase;
            transition: 0.5s;
        }

        @media only screen and (max-width: 450px) {
            .logo-container .logo {
                width: 15vw; /* Use vw for responsive width */
                height: auto;
                margin-left: 2vw; /* Use vw for responsive margin */
                margin-top: 2vw;
            }

            ul {
                margin-top: 6vw; /* Use vw for responsive margin */
                margin-right: 3vw; /* Use vw for responsive margin */
            }

            ul li a {
                font-size: 3.6vw; /* Styles for iPhone 11 or similar-sized devices */
            }
        }

        @media only screen and (min-width: 768px) and (max-width: 1750px) {
            ul {
                margin-top: 2.5vw; /* Use vw for responsive margin */
                margin-right: 2vw; /* Use vw for responsive margin */
            }
            
            ul li a {
                font-size: 1.6vw; /* Styles for 15" laptop or similar-sized devices */
            }

            ul:hover li a {
                transform: scale(1.2);
                opacity: 0.2;
                filter: blur(1rem);
            }
    
            ul li a:hover {
                transform: scale(1.2);
                opacity: 1;
                filter: blur(0);
                text-decoration: none;
            }
    
            ul li a:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transition: 0.5s;
                background: #BE77CA;
                transform-origin: right;
                transform: scaleX(0);
                z-index: -1;
            }
    
            ul li a:hover:before {
                transition: transform 0.5s;
                transform-origin: left;
                transform: scaleX(1);
            }
        }

        @media only screen and (min-width: 1751px) {
            .logo-container .logo {
                width: 7vw; /* Use vw for responsive width */
                height: auto;
                margin-left: 1vw; /* Use vw for responsive margin */
                margin-top: 1vw;
            }

            ul {
                margin-top: 2.3vw; /* Use vw for responsive margin */
                margin-right: 2vw; /* Use vw for responsive margin */
            }
            
            ul li a {
                font-size: 1.4vw; /* Styles for 24" monitor or similar-sized devices */
            }

            ul:hover li a {
                transform: scale(1.2);
                opacity: 0.2;
                filter: blur(1rem);
            }
    
            ul li a:hover {
                transform: scale(1.2);
                opacity: 1;
                filter: blur(0);
                text-decoration: none;
            }
    
            ul li a:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transition: 0.5s;
                background: #BE77CA;
                transform-origin: right;
                transform: scaleX(0);
                z-index: -1;
            }
    
            ul li a:hover:before {
                transition: transform 0.5s;
                transform-origin: left;
                transform: scaleX(1);
            }
        }
    }
}
